body {
    margin: 0;
    padding: 0;
    /* background-image: url('/images/395789-PCL0CH-412.jpg'); */
    font-family: cursive;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #aee6e285;
}
body button {
    border: 2px #163e41;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: #0f8e8e;
    /* color: #686da6; */
    /* box-shadow: 0px 0px 20px rgba(110, 110, 107, 0.1); */
}

body button:hover {
    background-color: #46e6e6;
    color: #686da6;
    box-shadow: 0px 0px 20px rgba(255, 215, 0, 1);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.menu-elements {
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 31px 2px 30px 10px;
    align-items: stretch;
    padding: 20px;
    width: 10em;
}

.list-item {
    position: relative;
}

.list-item .remove-list-button {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none !important;
    border: none !important;
    transition: none !important;
    margin: 1px 65px 1px 2px !important;
    font-size: 11px;
    text-align: justify;
    width: 3% !important;
    background-color: transparent;
}

.menu-elements button {
    color: white;
    margin: 5px;
    font-size: 11px;
    text-align: justify;
    width: 60%;
}

.add-list {
    flex-grow: 0;
    margin: 380px 20px 10px 20px;
    white-space: nowrap;
}
.background-element {
    height: 200vh;
    width: 92em;
    margin: 120px 217px 40px 177px;
    padding: 120px 0px 55px 37px;
    display: flex;
    flex-direction: column;
    background-color: #6cdcd52e;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Added a subtle shadow */
    transition: transform 0.2s ease-in-out; /* Added a smooth hover effect */
    padding: 12px;
}

.second-child {
    display: flex;
    flex-direction: row;
    margin-top: 68px;
}

.model-container {
    position: fixed;
    top: 150px;
    left: 365px;
    width: 20em;
    height: 10em;
    background-color: rgb(241 243 244 / 60%);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.model-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(168, 63, 63, 0.2);
    padding: 15px;
}

.active-list {
    background: linear-gradient(to right, #3c6171, #173e46);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.break {
    color: rgb(192, 77, 77);
}
