.navbar ul {
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    align-items: flex-end;
    list-style: none;
    padding: 20px;
    margin: 10px;
    justify-content: flex-end;
}

li {
    padding: 0 10px;
}
