.todo-list-items li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
}

.todo-title {
    display: flex;
    flex-grow: 1;
    padding: 5px;
    color: white;
    font-family: cursive;
}

.remove-button {
    background-color: #4caf50;
    color: white;
    padding: 3px 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s;
}
